# Зависимости / артефакты сборки
cookies.json
torrent_config.json
user-config.json
val.py
.venv/
venv/
.idea
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
dist/
build/
*.spec
*.exe
*.egg-info/
*.whl
.pytest_cache/
.mypy_cache/
.ruff_cache/
src/
pkg/
*.pkg.tar.zst
